.content{
    margin: 0%;
    width: 100vw;
    height: 100vh;
}
@media only screen and (max-width: 1280px) {
    [class="content"] {
        width: 100vw;
        height: 100vh;
    }
  }
.test {
        background-image : url(../../images/bg.jpg) ; 
        background-position: center;
        background-repeat : no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin: 0%;
        flex-wrap: nowrap !important;
    }
    .box {
        background: rgba(255, 255, 255, 0.9) !important;
        width: 100% !important;
        height: 100% !important;
        margin: 0%;
    }
    div.header {
        margin-Top: 13% ;
        background-color: #ffaa17 !important;
        width: 100%;
        height: 20%;
        border-radius: 0 !important;
    }
    img {
        height: 60%;
        width: 15%;
        margin: 5% 0% 5% 9%
    }
    .forgotPassword{
        margin-top:8% !important;
        margin-left:5% !important;
        font-weight: bold !important;
    }
    .welcome{
        margin-top:8% !important;
        margin-left:5% !important;
    }
    div.inputbox{
        width:100% !important;
    }
    .input {
        width: 90% !important;
        margin-left: 5%;
        margin-right:5%;
    }
    .EmailInput{
    width: 100% !important;
    }
    @media only screen and (max-width: 1280px) {
        [class="Empty"] {
            padding:0 !important;
        }
      }
    .Button {
        background: #ffaa17 !important;
        color: white !important;
        width: 100%;
        margin-left: 0%;
        margin-top:5%;
    }
    @media only screen and (max-width: 1280px) {
        [class=Button] {
            width: 100%;
            margin-left: 0%;
        }
      }
    .Link {
        text-Decoration: none;
        margin-top: 10%;
    }
    .alert {
        position: absolute !important;
        width: 400px  !important;
        height: 170px !important;
        border: 2px solid #000 !important;
        background-color: white !important;
    }
    .alertHeader {
        background: #ffaa17 ;
        padding: 3% 5% 3% 42% ;
        font-Weight: bold ;
        color: white ;
        margin:0%;
    }
    .AlertContent {
        margin: 5% 5% 5% 5% !important;
    }
    .AlertButton {
        background: #ffaa17 !important;
        color: white !important;
        margin: 0% 0% 10% 80% !important;
    }
    .modal {
        display: flex !important;
        align-Items: center !important;
        justify-Content: center !important;
    }
    .linkForgotpass {
        text-Decoration: none;
    }
    .BackButton {
        border-style: solid !important;
        border-width: 1px !important;
        width: 100%;
        color: gray !important;
        margin-left: 0% !important;
        
    }
    @media only screen and (max-width: 1280px) {
        [class="BackButton"] {
            width: 100% !important;
        }
      }
    .ResetButton {
        background: #ffaa17 !important;
        color: white !important;
        width: 100% ;
        margin-left: 0% ;

    }
    @media only screen and (max-width: 1280px) {
        [class="ResetButton"] {
            width: 100% !important;
        }
      }
    .ButtonBox {
        margin-top: 3% !important;
        margin-left: 5% !important;
        display: flex;
        width:100%;
        height:20%;
    }
    @media only screen and (max-width: 1280px) {
        [class="ButtonBox"] {
            flex-direction: column;
            margin-left: 0%;
        }
      }
      .buttonback{
          width:40%;
          margin-left: 3%;
          margin-right: 5%;
          text-Decoration: none;
      }
      @media only screen and (max-width: 1280px) {
        [class="buttonback"] {
            width:90%;
            margin-left: 0%;
        }
      }
      .buttonre{
        width:40%;
        margin-right: 5%;
      }
      @media only screen and (max-width: 1280px) {
        [class="buttonre"] {
            width:90%;
            margin-left: 0%;
            margin-top:2%;
        }
      }